* {
    margin: 0;
}
#logo {
  width: 200px;
  height: 60px;
}

nav {
    display: flex;   
    justify-content: space-between;
    padding: 20px 60px;
    background-color: white;
    
}

#nav-links {
    display: flex;
    column-gap: 60px;
    font-size: x-large;
}

nav button {
    background-color: white;
    padding: 10px 20px;
    height: fit-content;
    border-color: blanchedalmond;
    border: 2px solid rgb(2, 72, 153);
    font-size: large;
    text-transform: uppercase;
    font-weight: 100;
    border-radius: 10px;
    /* position: fixed;
    width: 100vw; */

}

nav button:hover {
    background-color: rgb(102, 207, 233);
    color:white;
    
}

#hero-overlay {
    background-image: url(../assets/images/intro-page.jpg);
    background-size: 100% 100%;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    
}

#hero-overlay button {
    background-color: white;
    padding: 10px 20px;
    height: fit-content;
    border-color: blanchedalmond;
    border: 2px solid rgb(2, 72, 153);
    font-size: larger;
    border: none;
    text-transform: uppercase;
    font-weight: 100;
    border-radius: 10px;
    
    
}

#hero-overlay button:hover {
    background-color: rgb(102, 207, 233);
    color:white;
    
}

header {
    text-align: center;
    
    

}



.hero-head {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    font-size: 50px;
    margin-bottom: 0px;
   padding: 70px;
}

.about-image {
    display: flex;
   flex-direction: left;
   width: 30%;
   height: 80vh;
   border-radius: 20px;
}

.about {
    margin-top: 100px;
}

